
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
}
.fullscreen-bg-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

.puzzle-container {
  position: relative;
  width: 600px; 
    height: 600px; 
}

.puzzle-piece {
  width: 100px; 
  height: 100px; 
  background-image: url('image2.jpg'); 
    position: absolute;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
}




